 /* ========defining variables====== */
:root{
   --primary: rgb(41, 126, 82);
   --secondary: blue;
   --third: green;
   --white: rgb(234, 228, 228);
   --black: black;
}

nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   background-color: var(--white);
   padding: 10px
}
.option{
   text-decoration: none;
}
li{
   list-style-type: none;
}
li a{
   text-decoration: none;
   font-size: 2rem;
   margin: 10px;
}


/* title (avi bimali) */
 .header{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--primary);
   margin: 0px;
   padding: 10px;
 }
 
 /* ==========body=========== */
 .bodyStyle{
   min-width: 70vh;
   /* border: 3px blue solid; */
   display: flex;
   justify-content: center;
}
img{
    border: 4px rgb(0, 47, 255) solid;
    border-radius: 60%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 

 /* =======footer======== */
 footer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   background-color: var(--primary);
   padding: 10px;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* .img{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    position: absolute;
    margin-top: 40px;
    margin-left: 40%;
 }
 .image{
    height:100%;
    width: 100%;

 }

 .dev{
    width: 296px;
    text-align: center;
    background-color: gray;
    color: white;
    position: absolute;
    left: 0;
    bottom: -22px;
    opacity: 0;
    transition: 1s;
 }

 .img:hover .dev{
    opacity: 0.8;
    bottom: 0px;
 }

 
 .header{
   text-align: center;
   padding-top:10px;
   height: 50px;
   margin-top: 8px;
 }

 .body {
   background-color: #000000;
   color: #ffffff;
   width: 100%;
   height:50px;
}

.footer {
   height: auto;
   width: 100%;
   color: #ffffff;
   margin: auto;
}
/* 
.h1:hover {
   color: #000000;
   background-color: #ffffff;
} */
/* 
.navigation {
   height: 40px;
   width: 100%;
   background-color: #ffffff;
   color: #000000;
   margin: auto;
   display: flex;
   float: left;
   align-items: center;
   justify-content: space-between;
}

.navigation span {
   padding: 0 20px;
   font-size: 20px;
   font-weight: bold;
}
/* .navigation span:hover{
   font-size: 25px;
} */
/*
.navigation ul li {
   list-style: none;
   display: inline-block;
   padding:10px;
   margin: 10px;
   font-size: 20px;
   font-weight: bold;
}

.navigation ul li a {
   height: 10px;;
   text-decoration: none;
   padding: 10px;
   background-color: #ffffff;
   color: #000000;
   float: left;
   align-items: center;
}

.navigation ul li a:hover {
   background-color: #000000;
   color: #ffffff;
   padding-top: 10px;
}

.bodyStyle {
   height: 700px;
   width: 100%;
   background-color: aqua;
   color: #ffffff;
   margin: auto;
}


.Theme {
   align-items: right;
   text-decoration: none;
   color: white;

}
.margin {
   margin: 10px;
   background-color: #3b5998;
   color: #3b5998;

}
.margin:hover{
   background-color:white;
   color: #3b5998;

}
.Theme:hover {
   color: #3b5998;
}
.right{
   float: right;
} */ 
